<p style="color: green"><%= notice %></p>
<h1>タスク詳細</h1>

<%= render @task %>

<div>
  <%= link_to "編集", edit_task_path(@task) %> |
  <%= link_to "一覧", tasks_path %>

  <%= button_to "削除", @task, method: :delete %>
</div>
